<!doctype html>
<html lang="en">
    <head>
        <title>Posion Panache</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>

    <body>
        <img src ="/img/P_logo.png.webpg" alt="">
        <h1>Posion Panache</h1>
        <h2>Join a movement of culture, music, and style</h2>
        <p>View our online store <a href="https://poisonpanache.com">here</a></p>
        <br>
        <br>
        <p>Watch our most recent livestream <a href="https://www.youtube.com/@poisonpanache">here</a></p>
        <br>
        <br>
        <p>What do you want to see us do next? <a href="/tellUs">Let us Know!</a></p>
        <br>
        <br>
        <p>Join our mailing list by filling <a href="/location">this </a>out</p>

    </body>
</html>